<header>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-2">
        <a href=""><img id="logo" src="/img/logo_trackiii.png" alt=""/></a>
      </div>
    </div>
  </div>
</header>
<main class="container">
  <section class="row justify-content-center">
    <div class="col-6">
      <input type="number" data-ng-model="app.data.occupation">
      <div class="graphic-occupation-chart" data-graphic-occupation data-ng-model="app.data.occupation"></div>
    </div>
  </section>
  <section class="row justify-content-center">
    <section class="col-md-3">1</section>
    <section class="col-md-3">2</section>
    <section class="col-md-3">3</section>
    <section class="col-md-3">4</section>
  </section>
</main>
<footer>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-4 copy">
        ALTICELABS - HACKTHON 2018
      </div>
      <div class="col-4">
        <img class="altice-labs-logo" src="/img/logo.png">
      </div>
    </div>
  </div>
</footer>

<!--
<main>
  <section>
    <div class="row justify-content-center">
      <div class="col-2">
        Graphics
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <section class="col-md-3">1</section>
      <section class="col-md-3">2</section>
      <section class="col-md-3">3</section>
      <section class="col-md-3">4</section>
    </div>
  </section>
</main>
-->