


.graphic-occupation-chart
  font-weight: 700

  #svg
    transform: rotate(-90deg)

  #svg circle
    stroke-dashoffset: 0
    transition: stroke-dashoffset 1s linear
    stroke: #666
    stroke-width: 1em

  #svg #bar
    stroke: $color-state-4-4

  #svg #bar.state-4-4
    stroke: $color-state-4-4

  #svg #bar.state-4-3
    stroke: $color-state-3-4

  #svg #bar.state-4-2
    stroke: $color-state-2-4

  #svg #bar.state-4-1
    stroke: $color-state-1-4

  #cont
    display: block
    height: 250px
    width: 250px
    box-shadow: 0 0 1em black
    border-radius: 100%
    position: relative

  .inner
    position: absolute
    top: 0px
    height: 250px
    width: 250px

    .percentage
      position: relative
      top: 75px
      legend
        font-size: 11px
        font-weight: 700

      .value
        font-size: 4.5em
        font-weight: 900
        text-shadow: 0 0 0.5em black
        line-height: 0.55em

    .time
      position: relative
      top: 85px
      color: $color-typography-grey
      font-weight: 700

      .value
        font-size: 16px

      .value > span
        top: -7px
        left: 3px
        font-size: 10px

      legend
        font-size: 10px

    .unit
      font-weight: normal
      font-size: 0.5em