@import 'vars'

body
  text: white
  background: $color-background

header
  background: $color-primary
  height: 60px
  border-bottom: 1px solid darken($color-primary, 50%)

footer
  height: 60px
  background: $color-footer
