@import 'vars'
@import 'graphic_occupation'
@import 'header'
@import 'nav'
@import 'footer'

/* STICKY FOOTER */
*
  margin: 0

html, body
  height: 100%

.page-wrap
  min-height: 100%
  /* equal to footer height */
  margin-bottom: -60px

.page-wrap:after
  content: ""
  display: block

.page-wrap:after, footer
  height: 60px

/* /STICKY FOOTER */


body
  font-family: 'Roboto', sans-serif
  color: white
  text-align: center
  background: $color-background

/* OVERVIEW SECTION */
main section#overview

  button.bt-switch-view
    background-color: $color-primary
    padding: 4px 12px
    color: white
    transition: all 0.2s linear
    margin-top: 40%
    float: left

    span
      top: 3px
      margin-right: 5px
      font-size: 14px
      transform: rotate(45deg)

    label
      margin: 0
      font-size: 11px
      cursor: pointer

  button.bt-switch-view:hover
    background-color: lighten($color-primary, 5%)

  .graphic-occupation-widget
    position: relative
    width: 250px
    height: 250px
    perspective: 800px
    margin: 2em auto

  .graphic-occupation-container
    width: 100%
    height: 100%
    position: absolute
    transform-style: preserve-3d
    transition: transform 1s

    .board
      margin: 0
      display: block
      position: absolute
      width: 100%
      height: 100%
      backface-visibility: hidden

    .board.back
      transform: rotateY( 180deg )
      background-color: $color-footer
      border: 1px solid $color-primary
      border-radius: 5px
      width: 500px
      margin-left: -48%

  .graphic-occupation-container.flipped
    transform: rotateY( -180deg )

/* MENU SECTION */
main section#main

  margin: 1em auto

  .menu
    padding: 5px

    .wrapper

      .top
        padding: 10px
        border-top-left-radius: 4px
        border-top-right-radius: 4px
        background-color: $color-primary

        h5
          text-align: left

        .menu-state
          text-align: center
        .available
          font-size: 32px
          font-weight: 700
        .total
          font-size: 11px
          color: darken(white, 10%)

        .menu-graph
          width: 100%
          height: 5px
          background-color: $color-background
          border-radius: 10px

          .gradient
            width: 100%
            height: 100%
            display: block
            border-radius: 20px
            clip-path: inset(0px 100% 0px 0px)
            transition: all 1s linear
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e12c68+0,e77a5b+19,fcb7a9+43,10edce+100 */
            background: #e12c68 /* Old browsers */
            background: -moz-linear-gradient(left, #e12c68 0%, #e77a5b 19%, #fcb7a9 43%, #10edce 100%) /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #e12c68 0%,#e77a5b 19%,#fcb7a9 43%,#10edce 100%) /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #e12c68 0%,#e77a5b 19%,#fcb7a9 43%,#10edce 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e12c68', endColorstr='#10edce',GradientType=1 ) /* IE6-9 */

        label
          font-size: 10px
          color: $color-typography-grey
          margin-top: 5px
          margin-bottom: 0px

      .dash

        background-image: linear-gradient(to right, #262d49 10%, rgb(18, 25, 60) 0%)
        background-position: top
        background-size: 8px 7px
        background-repeat: repeat-x
        height: 1px

      .bottom
        padding: 10px
        border-bottom-left-radius: 4px
        border-bottom-right-radius: 4px
        background-color: $color-primary
        min-height: 60px

        .main-menu
          font-size: 13px
          color: $color-typography-grey
          margin-bottom: 0px

